<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="task5">

    <select id="workingArea" resultType="String">
        SELECT WORKING_AREA FROM lecture_1.agents
        WHERE AGENT_CODE = 'A007'
    </select>

</mapper>